* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo de la página */
body {
    font-family: 'Roboto Serif', serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

/* Estilo del encabezado */
header {
    background-color:lightgray;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

/* Estilo de la sección de contacto */
#contact {
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#contact h1 {
    color: #333;
    margin-bottom: 20px;
}

#contact p {
    color: #555;
}

/* Estilo del formulario de contacto */
form {
    margin-top: 20px;
    max-width: 600px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo del pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}