body {
    font-family: 'Roboto Serif', serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 40px 0;
}

.product {
    display: block;
    text-decoration: none;
    color: #333;
}

.product-images {
    text-align: center;
}

.product-images img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h4 {
    color: #333;
}

.product p {
    color: #555;
}

.product .price {
    color: #e44d26;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav ul li {
        margin: 0;
        margin-bottom: 10px;
    }
}


@media (min-width: 768px) {
    nav ul {
        margin-left: auto;
    }
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}
