@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url(/scss/animation.scss);
@import url(/scss/_generales.scss);
$primary-color: #007bff;
$secondary-color: #6c757d;

body {
font-family: 'Arial', sans-serif;
}

header {
background-color: $primary-color;

.navbar {
    border-bottom: 2px solid $secondary-color;

    .navbar-brand {
    color: white;
    font-weight: bold;
    }

    .nav-link {
    color: white;

    &:hover {
        text-decoration: underline;
        }
    }
    }
}

.hero {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 50px 0;

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: $secondary-color;
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
    background-color: darken($secondary-color, 10%);
    }
}
}

footer {
    background-color: $secondary-color;
    color: white;
    text-align: center;
    padding: 20px 0;

    p {
    margin-bottom: 15px;
}
    img {
    max-width: 30px;
    margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .products .product {
        width: 100%;
    }
}
